html {
  scroll-behavior: smooth;
}
body
{
  padding: 0px !important;
  margin: 0px !important;
}
/* ..............................
HEADER
............................ */

#header .navbar-brand 
{
  font-size: 1.5em;
    color: #000 !important;
    font-weight: 800;  
    font-family: 'Roboto', sans-serif;
}
#header .navbar-brand span
{
  color: #FC2D00 !important;
}

#header li a
{
  text-decoration: none;
  font-size: 1.3em;
  color: #000;
}

#header li a:hover
{
  color: #FC2D00;
}

#header .btn
{
  background-color:#ac7070 !important;
  border: none;
  font-size: 1.2em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}
#header .btn:hover
{
  background-color: #FC2D00 !important;
}
/* ..............................
WORKSPACE
............................ */
#workspace
{
  margin: 20px;
  border-radius: 1em;
  padding: 1em;
  background-color: rgb(221, 220, 220);
}
#workspace h4
{
  text-align: center;
  padding: 1em;
}
#workspace .row
{
  padding: 1em !important;
  display: flex !important;
  margin: 0px 1em !important;
  justify-content: space-evenly !important;
}
#workspace .row1
{
  background-color: #fff;
  margin :1em;
  border-radius: 5px;
}
#workspace .col1
{
  background-color: white;
  border-radius: 5px;
  padding:1em;
}
.AkanDisplay
{
  text-align: center;
}
.AkanDisplay h4
{
  margin:1em;
}
.AkanDisplay #showAkan p
{
  color: white;
  margin:1em;
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 5px;

}
/* ...................
Footer
................... */

#footer
{
	background-image: linear-gradient(to right,#252525, #1a1716); 
	color:#fff;
}

.footer-box
{
	padding: 20px;
}
.footer-box img
{
	width: 120px;margin-bottom: 20px;
}

.footer-box i 
{
 margin-right: 8px;
 font-size: 25px;
 height: 40px;
 width: 40px;text-align: center;
 border-radius: 2px;
 padding-top: 7px;
}
.copyright
{
	padding-bottom: 3em;
    margin-bottom: 0;
	text-align: center;
	padding-bottom: 20px;
}

#footer h4
{
    font-size: 1.3em;
   text-align: center;
   padding: 1%;
}

#footer #social-media
{
    text-align: center;
    margin: 1em;
}
#footer #social-media a
{
    padding: 2%;
    color: white;
}
#footer #social-media a:hover
{
    color: #A21D00;
}
#footer #social-media i
{
    font-size: larger;
} 

#footer .float
{
	position:fixed;
	width:50px;
	height:50px;
	bottom:40px;
	right:3%;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    display: flex;
}
#footer a
{
   text-decoration: none;
}
#footer .my-float{
	margin:auto;
    font-size: 1.2em;
}

@media screen and (max-width: 768px) 
{
  #header .btnWorkspace
  {
    display: flex;
    justify-content: center;
  }
  #header .btn
  {
    font-size: 1.2em;
    padding: 0.5em 1em;
    margin: auto;
  }
}